<script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3/dist/av-min.js"></script>
<% if (theme.comments.valine.js) { %>
  <%- js(theme.comments.valine.js) %>
<% } else { %>
  <%- js(['js/valine.js']) %>
<% } %>

<script>
  var GUEST_INFO = ['nick', 'mail', 'link'];
  var meta = '<%= theme.comments.valine.meta %>'.split(',').filter(function (item) {
    return GUEST_INFO.indexOf(item) > -1
  });
  var REQUIRED_FIELDS = ['nick', 'mail', 'link'];
  var requiredFields = '<%= theme.comments.valine.requiredFields %>'.split(',').filter(function (item) {
    return REQUIRED_FIELDS.indexOf(item) > -1
  });

  function emoji(path, idx, ext) {
    return path + "/" + path + "-" + idx + "." + ext;
  }

  var emojiMaps = {};
  for (var i = 1; i <= 54; i++) {
    emojiMaps['tieba-' + i] = emoji('tieba', i, 'png');
  }
  for (var i = 1; i <= 101; i++) {
    emojiMaps['qq-' + i] = emoji('qq', i, 'gif');
  }
  for (var i = 1; i <= 116; i++) {
    emojiMaps['aru-' + i] = emoji('aru', i, 'gif');
  }
  for (var i = 1; i <= 125; i++) {
    emojiMaps['twemoji-' + i] = emoji('twemoji', i, 'png');
  }
  for (var i = 1; i <= 4; i++) {
    emojiMaps['weibo-' + i] = emoji('weibo', i, 'png');
  }

  function pjax_valine() {
    if(!document.querySelectorAll("#valine_container")[0])return;

    let pagePlaceholder = $.trim($('#pjax-comment-placeholder').text()) || "<%= theme.comments.valine.placeholder %>";

    let path = $.trim($('#pjax-comment-path').text());
    if (path.length == 0) {
      let defaultPath = '<%= theme.comments.valine.path %>';
      path = defaultPath || decodeURI(window.location.pathname);
    }

    var valine = new Valine();
    valine.init({
      el: '#valine_container',
      meta: meta,
      placeholder: pagePlaceholder,
      path: path,
      appId: "<%= theme.comments.valine.appId %>",
      appKey: "<%= theme.comments.valine.appKey %>",
      pageSize: '<%= theme.comments.valine.pageSize %>',
      avatar: '<%= theme.comments.valine.avatar %>',
      lang: '<%= theme.comments.valine.lang %>',
      visitor: '<%= theme.comments.valine.visitor %>',
      highlight: '<%= theme.comments.valine.highlight %>',
      mathJax: '<%= theme.comments.valine.mathJax %>',
      enableQQ: '<%= theme.comments.valine.enableQQ %>',
      requiredFields: requiredFields,
      emojiCDN: 'https://cdn.jsdelivr.net/gh/volantis-x/cdn-emoji/valine/',
      emojiMaps: emojiMaps,
      master: '[<%= theme.comments.valine.master %>]',
      friends: '[<%= theme.comments.valine.friends %>]'
    })
  }

  function newcomment() {

function queryLeanCloud(k) {
  let root = this;
  let len = arguments.length;
  if (len == 1) {
    let notExist = new AV.Query("Comment");
    notExist.doesNotExist('rid');
    let isEmpty = new AV.Query("Comment");
    isEmpty.equalTo('rid', '');
    let q = AV.Query.or(notExist, isEmpty);
    if (k === '*') q.exists('url');
    else q.equalTo('url', decodeURI(k));
    q.addDescending('createdAt');
    q.addDescending('insertedAt');
    return q;
  } else {
    let ids = JSON.stringify(arguments[1]).replace(/(\[|\])/g, '');
    let cql = `select * from ${root['config']['clazzName']} where rid in (${ids}) order by -createdAt,-createdAt`;
    return AV.Query.doCloudQuery(cql)
  }
}
var valine = new Valine({
      el: '#valine_container_ba',
      notify: false,
      verify: false,
      app_id: '<%= theme.comments.valine.appId %>',
      app_key: '<%= theme.comments.valine.appKey %>',
      placeholder: '发表您的意见，让我们一起交流，共同提高吧...',
      serverURLs: '<%= theme.comments.valine.serverURLs %>'
});

//判断博主，heson改为自己的昵称
function bozhu(e){
    if (e == "heson"){
        nick = e + '[博主]'
        return nick;
    } else {
      return e
    }
}

//判断网址
function wangzhi(e){
    http = e.slice(0,4)
    https = e.slice(0,5)
    if (http == "http" || https == "https" ){
         return e
    } else if (e == "" || e == null || e == undefined){
      return e
    } else {
      e = 'http://'+ e
      return e
    }
}




//查询评论
valine.Q('*').limit(7).find().then(function (comments) {
  var hotComments = $("#hot-comments");
  for (var i = 0; i < comments.length; i++) {
    if (i === 0) {
      console.log(comments[0]);
    }
    var nick = bozhu(comments[i]._serverData.nick);
    var content = comments[i]._serverData.comment;
    var newcontent = content.replace(/<[^>]+>/g,"").replace(/:.*?:/g,"[表情]").substring(0, 50);
    var url = comments[i]._serverData.url;
    var link = wangzhi(comments[i]._serverData.link);
    var updatedAt = timeago(comments[i].updatedAt);
    var commentId = '#' + comments[i].id;
    hotComments.append('<div class="card-comment-item"><div class="item-header-text"><a href="'+ link +'" target="_blank" rel="nofollow noopener noreferrer" class="newcomment" >' + nick + '</a>&nbsp;发表于' + updatedAt + '</div><div class="item-text"><a href="' + url + commentId +'"  rel="nofollow" style="color:#717171" class="comments-detail" >' + newcontent + '</a></div></div>');
  }
});
};



  $(function () {
    pjax_valine();
    newcomment();
  });
</script>
